@import url('https://fonts.googleapis.com/css?family=Montserrat');
$colors: (
    primary: #c33126bd,
    secondary: #f33f33,
);
@function color($clip-path) {
    @return map-get($colors,
    $clip-path)
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Montserrat", monospace;
    #clip-path {
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        background-color: color(secondary);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
}

li {
    display: inline-flex;
}

li a {
    font-family: "Montserrat";
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: color(primary);
}

ul {
    background-color: color(secondary);
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar-bold {
    font-weight: bold;
}