@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}
.header img {
    position: fixed;
    width: 6%;
    left: 3%;
    top: 4%;
    z-index: 1;
}

.container {
    position: relative;
    width: 25%;
    float: left;
    padding: 0;
  }
  .image {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .container:hover .overlay {
    opacity: 0.9;
  }
  .text {
    font-family: "staatliches", monospace;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  p, form {
      font-family:"Quicksand", monospace;
      font-size: 20px;
      color: #fff;
      top: 25%;
  }
  #form {
      width: 225px;
      padding: 10px;
  }
  #submit {
      width: 250px;
      padding: 10px;
  }
  #lid{
    position: fixed;
    width: 50%;
    left: 25%;
    top: auto;
  }
  #footer {
      position: fixed;
      width: 100%;
      background: rgb(10, 10, 10);
      bottom: 0%;
      left: 0%;
  }
  .footer {
    font-family: "staatliches", monospace;
    font-size: 20px;
  }